body,
html {
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.prairie {
  /* The image used */
  background-image: url("../images/rudbeckia.jpg");

  /* Set a specific height */
  /*height: 8000px;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 auto;
}

#page-header {
  background-color: beige;
  font-family: "Cormorant SC", serif;
  z-index: 1;
}

h1 {
  align-content: center;
  font-size: 56px;
  margin: 0 auto;
}

#header-links-row {
  padding: 10px;
  font-size: 26px;
}
.header-links {
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #page-container {
  padding-top: 102px;
}

#page-container,
#about-container {
  margin-top: 20px;
}

#contact-container,
#portfolio-container {
  margin-top: 40px;
}

#about-container,
#contact-container,
#portfolio-container {
  background: rgba(245, 245, 220, 0.9);
}

#bio-img-div,
#portfolio-img-div,
#contact-img-div {
  margin-top: 20px;
  margin-bottom: 10px;
}
#bio-image,
#portfolio-image,
#contact-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #16270f;
}

#about-me,
#portfolio-me,
#contact-me {
  font-family: "Cormorant SC", serif;
  font-size: 48px;
  color: #16270f;
}

#about-me-para,
#portfolio-para,
#contact-me-para {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  padding: 0px 20px 10px 20px;
}

.soc-med-span {
  padding-bottom: 10px;
}

.soc-media-links {
  margin: 0px 10px 0px 10px;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.2);
  color: black;
}

.fab {
  font-size: 36px;
  color: #16270f;
}

.project-row {
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.project-content-div,
.project-image-div {
  background: white;
}

.portfolio-link {
  color: #8e44ad;
}
#contact-mail-link {
  color: #8e44ad;
}

#contact-form {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.btn-primary {
  background-color: #8e44ad;
  border-color: #8e44ad;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #be2edd;
  border-color: #be2edd;
}

footer {
  flex-shrink: 0;
  background-color: beige;
  padding: 20px;
  margin-top: 40px;
}
